/* Self-hosted from Fontshare (ITF Free Font License). Files live in public/fonts. */
@font-face {
  font-family: 'Satoshi';
  src: url("/fonts/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url("/fonts/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url("/fonts/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url("/fonts/4CO2ETY7NITKLUDKMYJ75RHJSPHOJ7XT.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url("/fonts/WN5274VQ3AUBDFP74GB4EC4XYJ3EKVNE.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url("/fonts/6QH2ALVTTK7IRVO5MYOQQ3OZNXW5SSS3.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/fonts/6IN5WOLRCYP4G4MOCOHOMXNON6Q7MDAR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/fonts/6XPIMU23OJVRY676OG5YVJMWEHWICATX.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/fonts/YS3VPNVO4B3TOJMEXDGFZQ4TLZGGSRZC.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/fonts/Y7SCNZJOT2MW5ADSGOFLDGH4TNL4JCQY.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url("/fonts/EO5MKE3BUDOZN44BP4HDPXAJAC2BIMCD.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url("/fonts/33ZCUAC3GU2QVDMGY6EP3BNWHET5IUK4.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
